* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
}
:root {
  /*#fff7f0
  --color-primario: #f2f2f2;
  --color-secundario: #301e129f;
  --color-texto: #452b1a;*/

  --color-primario: rgb(250, 183, 183);
  --color-secundario: #301e129f;
  --color-texto: rgb(152, 152, 245);

  --bg-color: #CED5DB;
  --text-color: #1A1F25;
  --primary-color: #2E373E;
  --secondary-color: #68767F;
  
}
