* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: "Kanit", sans-serif;
    color: var(--color-texto);
}
:root {
    --color-primario: #101415;
    --color-secundario: rgb(139, 138, 138);
    --color-texto: #FBFBFB;
    --color-rojo: #932b21;
    
}