.cart-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    right: 0px;
    top: 51px;
    width: 350px;
    height: calc(100dvh - 50px);

    z-index: 1;
    background: var(--bg-color);
    padding-inline: 15px;
}

.cart-title {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    width: 100%;
    padding-block: 10px;
}

/*-------------------------------------------------------------------------------------*/

.cart-item-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    height: 100%;
    gap: 5px;
    
}

.cart-items{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba(39, 39, 39, 0.075);
}

.cart-producto {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 15px;
}

.img-producto {
    width: 100px;   
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-producto img {
    width: 100%;
    object-fit: contain; 
}

.info-producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-color);
}
.info-producto-nombre{
    font-weight:bold;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.info-producto-talle, .info-producto-precio {
    font-size: 1rem;

}


.botones-producto {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
    height: 20px;
}

.botones-producto button {
    background: none;
    border: none;
    font-size: 20px;
    color: var(--text-color);
    cursor: pointer;
    width: 10px;
}

.botones-producto p {
    width: 10px;
    text-align: center;
}
/*-------------------------------------------------------------------------------------*/

.cart-checkout-container{
    width: 100%;
    padding-bottom: 20px;
}

.descripcion-final {
    width: 100%;
}

.descripcion-final-texto {
    width: 100%;
    color: var(--text-color);
    text-align: end;
    padding-top: 10px;
}