.recommendations{
    padding-top: 40px;
}

.recommendations h3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    font-size: 15px;
    color: var(--text-color);
    padding: 20px; 
    text-transform: uppercase;
    font-weight: 600;
  }