.input {
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: solid 1px var(--color-secundario);
    border-radius: none;
    background: none;
    color: var(--color-texto);
}

.input:focus {
    outline: none;
    border-bottom: solid 1px #932b21;
    color: var(--color-texto);
}

.label {
    margin-top: 20px;
    color: var(--color-texto);
}