.input-container {
  position: relative;
  margin-bottom: 15px;
}

.input {
  display: block;
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--text-color);
  transition: all .3s ease;
}

.input-container input:focus {
  color: var(--text-color);
  outline: none;
}

.input-container input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.label {
  position: absolute;
  cursor: text;
  z-index: -2;
  top: 13px;
  left: 0;
  font-size: 12px;
  background: var(--bg-color);
  color: #999;
  transition: all .3s ease;
}

.input:focus + .label,
.input.filled + .label {
  font-size: 11px;
  top: -5px;
  font-weight: bold;
}

.input:focus + .label,
.input.filled + .label {
  color: var(--text-color);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
