.container {
  display: flex;
  flex-direction: column;
  aspect-ratio: 4/5;
  justify-content: center;
  align-items: center;
}

a {
    text-decoration: none;
}

/*--------------------------------------------------------------------------------------------*/

.producto-imagen {
  width: 100%;
  display: flex;
}

.producto-imagen img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  aspect-ratio: 3/4;

  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.producto-imagen img:hover {
  transform: scale(1.03);
  display: inline-block;
}

/*--------------------------------------------------------------------------------------------*/

.descuento-container {
  position: relative;
  background: none;
}
.descuento {
  position: absolute;
  right: 0;
  padding-inline: 10px;
  margin-top: 10px;
  color: brown;
  visibility: hidden;
}

/*--------------------------------------------------------------------------------------------*/

.producto-informacion {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 10px;
}

.nombre-texto {
  font-size: 20px;

  /*transition: transform 0.3s ease;*/
}
/*
.producto-text:hover {
    transform: scale(1.05);
    display: inline-block;
    color: var(--color-secundario);
}
*/

.precio-texto {
  font-size: 15px;
}

/*--------------------------------------------------------------------------------------------*/
