.detalle-container {
    margin: 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
/*-------------------------------------------------------------*/
.img-container, .img-container-esquleto {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    aspect-ratio: 3/4;
}
.img {
    aspect-ratio: 3/4;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}
.img img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
    position: absolute;
    top: 0;
    left: 0;
}

/*-------------------------------------------------------------*/
.informacion-container, .informacion-container-esqueleto {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 30%;
    height: max-content;
    position: sticky;
    top: 60px
}

.informacion-dp {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.nombre-producto {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.precio-producto {
    font-size: 15px;
    font-weight: 700;
}

.descripcion-producto {
    font-size: small;
    opacity: 70%;
}
/*-------------------------------------------------------------*/
.division {
    width: 100%;
    height: 1px;
    background: var(--text-color);
    opacity: 20%;
}
/*-------------------------------------------------------------*/
.talles {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    
}
.talle-seleccionado {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.talles-container {
    display: flex;
    gap: 5px;
}

.talles-container button{
    margin: 0;
}

.talles-aviso{
    color: var(--text-color);
    margin-top: 5px;
    font-size: 12px;
}
/*-------------------------------------------------------------*/

.img-esqueleto{
    width: 100%;
    height: 100%;
    aspect-ratio: 3/4;
    overflow: hidden;

}

.informacion-esqueleto{
    width: 50%;
    height: 20px;
    border-radius: 5px;
    
}

.informacion-desc-esqueleto{
    width: 100%;
    height: 20px;
    border-radius: 5px;
}


.img-container-esquleto *, .informacion-container-esqueleto * {
    background: linear-gradient(120deg, #e7e7e7 30%, #f5f5f5 38%, #f5f5f5 40%, #e7e7e7 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 2s infinite;
}

@keyframes load {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}

/*-------------------------------------------------------------*/

.modal-imagen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .imagen-pantalla-completa {
    max-width: 80%;
    max-height: 80%;
  }
  
  .cerrar-modal,
  .anterior-imagen,
  .siguiente-imagen {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: var(--bg-color);
    font-size: 2rem;
    border: none;
    cursor: pointer;
  }
  
  .cerrar-modal {
    top: 10px;
    right: 20px;
    transform: none;
  }
  
  .anterior-imagen {
    left: 20px;
  }
  
  .siguiente-imagen {
    right: 20px;
  }

  .detalle-producto-acordeon {
    padding: 10px;
    color: var(--text-color);
    font-size: 12px;
  }
/*-------------------------------------------------------------*/

  .cambiar-cp-boton{
    transition: all .3s ease;
    padding-bottom: 2px;
    border-bottom: 1px solid #00000000;
  }

  .cambiar-cp-boton:hover{
    border-bottom: 1px solid #000000;
  }
/*-------------------------------------------------------------*/
@media (max-width: 768px) {
    .detalle-container {
        margin-block: 10px;
        margin-inline: 10px;
        flex-direction: column;
    }

    .img-container, .img-container-esquleto {
        display: flex;
        aspect-ratio:unset;
        width: 100%;
        overflow-x: scroll;
        gap:0;
        scroll-snap-type: x mandatory;
    }

    .img-container {
        height: 100%;
    }

    .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow:unset;
        scroll-snap-align: center;
    }
    
    .informacion-container, .informacion-container-esqueleto {
        width: 100%;
        gap: 15px;
    }

    .mobile-img-esqueleto {
        display: none;
    }

    .nombre-producto {
        font-size: 20px;
        font-weight: 700;
    }

    .precio-producto{ 
        font-size: 15px;
        margin-bottom: 0;
    }
}