.novedades-section{
  padding: 40px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start;
  background: var(--bg-color);
}

.novedades-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  font-size: 15px;
  color: var(--text-color);
  padding: 10px; 
  text-transform: uppercase;
  font-weight: 600;
}


.novedades-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  gap: 20px;
  padding: 10px;
}


.todos-productos{
  width: 30%;
  display: flex;
  justify-content: center;
}

.todos-productos button{ 
  text-transform: uppercase;
  font-size: 12px;
}


  @media (max-width: 768px) {
    .novedades-container {
        grid-template-columns: 1fr 1fr; 
        padding: 0;
        gap:10px;
    }

    .novedades-section{
      padding-inline: 10px;
    }

    .todos-productos{
      width: 60%;
    }

    .novedades-text {
      padding-inline: 0;
    }
}