.novedades-section{
  padding: 40px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start;
}

.novedades-text {
  display: flex;
  align-items: flex-start;
  width: 100%;
  font-size: x-large;
  font-weight: bold;
  color: var(--color-texto);
  padding: 10px; 
}


.novedades-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  gap: 20px;
  padding: 10px
}


.todos-productos{
  width: 30%;
}


  @media (max-width: 768px) {
    .novedades-container {
        grid-template-columns: 1fr 1fr; 
        padding: 0;
    }

    .novedades-section{
      padding-inline: 20px;
    }

    .todos-productos{
      width: 60%;
    }

    .novedades-text {
      padding-inline: 0;
    }
}