.tienda {
  margin: 20px 50px;
}

.mensaje-container {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  font-size: large;
  text-align: center;
}

.tienda-filtros {
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;
  gap: 15px;
}

.productos-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .productos-container {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .tienda-filtros {
    overflow-y: auto;
    height: auto;
    scrollbar-width: none;
    width: 100%;
  }

  .tienda {
    margin: 10px;
  }

  .tienda-header img {
    height: 200px;
  }

  .tienda-header h1 {
    font-size: 2rem;
  }
}
