.contacto {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacto-texto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    padding: 20px;
    gap: 10px;
}

.contacto-texto-container h1 {
    color: var(--text-color);
    display: flex;
    gap: 5px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.contacto-texto-container p {
    color: var(--text-color);
    display: flex;
    gap: 5px;
    font-size: 12px;
    font-weight: 600;
    opacity: 60%;
}


.datos-container {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.contacto-label {
    margin-top: 20px;
    color: var(--text-color);
    font-size: 12px;
}

.contenido {
    margin-top: 10px;
    width: 100%;
    height: 150px;
    resize: none;
    border: solid 1px var(--secondary-color);
    background: none;
    padding: 10px;
    font-size: 12px;
    transition: border 0.3s ease; 
}

.contenido:focus {
    outline: none;
    border: solid 1px var(--text-color);
    box-shadow: none;
}

@media (max-width: 768px) {
    .datos-container {
        width: 100%;
        padding: 10px;
    }

    .contacto {
        justify-content: flex-start;
        margin-top: 60px;
    }

    .contacto-texto-container {
        padding-inline: 10px;
        text-align: center;
    }
}