.payment-success-container {
    width: 80%;
    height: 90vh;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .payment-success-container h1{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
  }

  .payment-success-container i {
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 35px;
  }

  .payment-success-container p {
    text-align: center;
  }


  .circle-check {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    width: 70px;
    height: 70px;
    border: 2px solid ;
    border-radius: 100%;
    margin: 20px auto;
  }
  
  .payment-details {
    margin-top: 20px;
  }
  
  .payment-details p {
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--text-color);
  }
  
  .payment-details span.order-id,
  .payment-details span.payment-status {
    font-weight: bold;
    color: var(--text-color);

  }
  
  .action-buttons {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: colum;
    gap: 10px;
  }

  .action-buttons a {
    width: 100%;
  }
  

  @media (max-width: 768px) {
    .payment-success-container {
        padding: 20px;
        width: 100%;
    }
  }