.checkboxgroup-container {
    display: flex;
    flex-direction: column;
    display: flex;
    gap: 10px;
}

.checkboxgroup-item input {
    margin-right: 10px;
    cursor: pointer;
    color: var(--text-color);
}

.checkboxgroup-item input:focus{
    box-shadow: none;

}

.checkboxgroup-item label {
    color: var(--text-color);
    cursor: pointer;
    width: 100%;
    font-size: 12px;
}

.checkboxgroup-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border: #e0e0e0 1px solid;
    cursor: pointer;
}  

.checkboxgroup-item:hover {
    background-color: #e6e4e4;
}