.acordeon-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.acordeon-item {
    padding: 10px;
    color: var(--text-color);
    cursor: pointer;
}

.acordeon-item, .acordeon-item-desc {
    width: 100%;
    outline: none;
    background: none;
    border: 1px solid #e0e0e0;
    text-align: start;
    transition: all 0.3s ease;
}

.acordeon-item:hover {
    background: #2e373e3d;
}

.acordeon-item div {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 12px;
}

.acordeon-item i{ 
    font-size: 15px;
}

.acordeon-item-desc {
    border-top: none;
    background: var(--bg-color);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}

@media screen and (max-width: 768px) {
    .acordeon-item:hover {
        background: none;
    }
}
