.acordeon-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.acordeon-item {
    padding: 10px;
    color: var(--text-color);
}

.acordeon-item, .acordeon-item-desc  {
    width: 100%;
    outline: none;
    background: none;
    border: 1px solid #e0e0e0;
    text-align: start;
    transition: all .3s ease;
}

.acordeon-item:hover{
    background: #452b1a31;
}

.acordeon-item div {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.acordeon-item-desc {
    border-top: none;
    background: var(--bg-color);
}

@media screen and (max-width: 768px) {
    .acordeon-item:hover {
        background: none;
    }
}