.container-404 {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.text-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    gap: 1rem;
    text-align: center;
}

.text-404 h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color);

}

.text-404 p {
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
    opacity: 60%;
}

.text-404 a {
    width: 250px;}
