.container-404 {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container-404 span {
    font-size: 80px;
}
.container-404 p {
    text-transform: uppercase;
    color: #932b21;
}