.checkout {
    display: flex;
    flex-direction: row;
    width: auto;
}

.informacion-section {
    width: 60vw;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

/*---------------------------------------------------------------------------------------------*/

.informacion-datos {
    display: flex;
    flex-direction: column;
}

.informacion-datos-p {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 10px;
}

.informacion-datos span {
    font-size: 1.2rem;
    font-weight: 450;
    color: var(--text-color);
    margin-bottom: 10px;
}
/*---------------------------------------------------------------------------------------------*/

.carrito-section {
    width: 40vw;
    height: 100vh;
    position: sticky;
    top: 0;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 30px;
    gap: 20px;
}

/*---------------------------------------------------------------------------------------------*/

.form-datos-envio {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 50px;
}

.informacion-boton-cambio {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


.informacion-boton-cambio button {
    background: none;
    border: none;
    width: auto;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--color-texto);
    font-size: 15px;
}

.informacion-boton-cambio button:hover {
    text-decoration: underline;
    font-weight: bold;
}

/*---------------------------------------------------------------------------------------------*/


.informacion-datos-chebox{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.informacion-datos-chebox label{
    color: var(--text-color);
    font-size: 12px;
    font-weight: 500;
    display: flex;
}

.informacion-datos-chebox input{
    margin-right: 10px;
}

/*---------------------------------------------------------------------------------------------*/
.ciudad-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.ciudad-item {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.ciudad {
    width: 70%;
}

/*---------------------------------------------------------------------------------------------*/

.checkout-actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.checkout-actions a {
    width: 100%;
}

/*---------------------------------------------------------------------------------------------*/

.checkout-info-cart {
    color: var(--bg-color);
}

.cart-item-container-checkout {
    height: 100%;
    padding-inline: 20px;
    overflow-y: auto;
    gap: 10px;
}


.carrito-section p, h1 {
    color: var(--bg-color);
}

.descripcion-final-checkout {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.descripcion-final-checkout div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 20px;
}

/*---------------------------------------------------------------------------------------------*/

.line-costo {
    height: 1px;
    width: 100%;
    background: var(--bg-color);
    opacity: 5%;
    margin-block: 10px;
}


.header-carrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*---------------------------------------------------------------------------------------------*/

@media screen and (max-width: 769px) {
    .carrito-section {
        display: none;
    }

    .informacion-section {
        width: 100%;
        padding-inline: 20px;
    }

    .informacion-datos {
        padding-inline: 0;
    }

    .form-datos-envio {
        padding: 0;
    }
}