/*Tabla de productos--------------------------------------------------------------*/
.tabla-productos-container{
    width: 100%;
    border: 1px solid #bdbdbd9f;
    border-collapse: initial;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.tabla-productos-header{
    display: flex;
    width:  100%;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 700;
    color: var(--text-color);
    border-bottom: 1px solid #bdbdbd9f;
    padding: 10px;
}

.tabla-productos-body{
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 13px;
    color: var(--text-color);
}

.tabla-productos-body tr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.tabla-productos-body tr:hover {
    background: #20313d0a;
}

.tabla-productos-item {
    width: calc(100% / 5);
}

.tabla-productos-item-detalle{
    display: flex;
    align-items: center;
    gap: 5px;
}

.tabla-productos-item picture {
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden;
}


.tabla-productos-stock{
    position: relative;
    cursor: pointer;
}

.detalle-cantidad{
    background: var(--bg-color);
    color: var(--text-color);
    border: 1px solid #e0e0e0;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: -40px;
    right: 15px;
    
}

.tabla-producto-add {
    background: #E7F8F2;
    border: 1px solid #05966881;
    color: #059669;
    font-size: 12px;
    padding: 2px 5px;
    margin: 5px;
    border-radius: 5px;
}

.tabla-producto-edit {
    background: #FEF1E7;
    border: 1px solid #ea5a0c8c;
    color: #EA580C;
    font-size: 12px;
    padding: 2px 5px;
    margin: 5px;
    border-radius: 5px;
}

.tabla-producto-delete {
    background: #FDECEC;
    border: 1px solid #dc26267e;
    color: #DC2626;
    font-size: 12px;
    padding: 2px 5px;
    margin: 5px;
    border-radius: 5px;
}

.product-aviso {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000063;
}

.product-aviso div {
    background: var(--bg-color);
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
}

.product-aviso div p {
    font-size: 15px;
    color: var(--text-color);
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
}

.product-aviso div div{
    display: flex;
    padding: 10px 0;
    width: 100%;
    justify-content: space-between;
    gap:10px;
}

.product-aviso div div button {
    padding: 5px 10px;
    width: 100%;
    font-size: 12px;
    color: var(--bg-color);
    transition: all .3s ease;
}

.cancelar {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.cancelar:hover {
    background: var(--bg-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.eliminar {
    background: rgb(150, 22, 22);
    border: 1px solid rgb(150, 22, 22);
}

.eliminar:hover {
    background: var(--bg-color);
    border: 1px solid rgb(150, 22, 22);
    color: rgb(150, 22, 22);
}

/*Add de productos--------------------------------------------------------------*/

.add-producto-container {
    background: rgba(0, 0, 0, 0.205);
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-producto-form-container{
    width: 60%;
    height: 90%;
    overflow: hidden;
    background: var(--bg-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
    padding: 20px
}

.add-producto-form-header {
    display: flex;
    flex-direction: column;
    position: relative;
}

.boton-salir{
    position: absolute;
    top: -18px;
    right: -10px;
    color: var(--text-color);
    font-size: 20px;
}

.add-producto-form-header h1 {
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 700;
    display: flex;
    gap: 10px;
    align-items: center;
}

.add-producto-form-header h1 i {
    color: var(--text-color);
    font-size: 18px;
}

.add-producto-form-header p {
    font-size: 12px;
    color: var(--text-color);
    opacity: 0.7;
}

.add-producto-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
    padding: 10px;
    gap: 10px;
    height: 70%;
    overflow: auto;
    justify-content: flex-start;
}

.add-producto-info-container{
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.add-producto-info-container label, .add-producto-imagen-container label{
    font-weight: 700;
}

.add-producto-info-container input, .add-producto-info-container textarea, .add-producto-info-container select {
    padding: 5px;
    box-shadow: none;
    border: 1px solid #d7d7d7;
    font-size: 12px;
    border-radius: 5px;
}
.add-producto-info-container input:focus, .add-producto-info-container textarea:focus {
    box-shadow: none;
    border: 1px solid var(--text-color);
}

.add-producto-info-container p, .add-producto-imagen-container p {
    font-size: 12px;
    color: var(--text-color);
    opacity: 80%;
}

.add-producto-info-container textarea {
    resize: none;
}

.add-producto-button-container {
    display: flex;
    gap: 10px;
}



.add-producto-status {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.add-producto-status-nodo {
    font-size: 12px;
    color: var(--text-color);
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-producto-status-nodo span {
    background: #e0e0e0;
    color: #9c9c9c;
    border: 1px solid #9c9c9c57;
    padding: 2px 5px;
    border-radius: 5px;
}

.focus span {
    background: var(--primary-color);
    color: var(--bg-color);
    border: 1px solid var(--primary-color);
}

.focus p {
    font-weight: 700;
}

.line-producto {
    width: 100%;
    height: 2px;
    background: #9c9c9c;
    position: relative;
    bottom: 10px;
}

.add-product-img-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-producto-imagen-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 12px;
}

.add-producto-imagen-container h2{
    font-size: 12px;
    color: var(--text-color);
    font-weight: 700;
    padding-block: 25px;
    width: 100%;
    text-align: center;
}

.img-productos-card{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

.img-product-container {
    height: 300px;
    width: 250px;
    background: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-product-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.img-product-container input {
    border: none;
    outline: none;
    cursor: pointer;
}

.img-product-container input:focus {
    border: none;
    outline: none;
}

.img-productos-detalle {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: center;
}

.img-productos-detalle div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}