.hero-container {
    position: relative;
    text-align: center;
    color: var(--color-primario);
    height: 100vh;
    width: 100%;
}

.hero-background {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.hero-blur{
    position: absolute;
    inset: 0;
    z-index: -1;
    filter: blur(50px);
}
  
/*----------------------------------------------------*/

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.hero-text h1 {
    font-size: 3rem;
    font-weight: 800;
    text-align: start;
}
  
.hero-text h2 {
    font-size: 1rem;
    text-align: start;
}

/*----------------------------------------------------*/

.hero-contador {
    font-size: 1rem;
    text-align: start;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3);
}

.hero-contador span {
    margin-right: 5px;
}


/*----------------------------------------------------*/

@media screen and (max-width: 769px) {
    .hero-content {
        width: 100%;
        max-width: 100%;
        gap: 50px;
        align-items: center;
        flex-direction: column;
    }

    .hero-content h1 {
        text-align: center;
        width: 100%;
    }

    .hero-content h2 {
        font-size: 1rem;
        text-align: center;
    }

    .hero-btn-container {
        width: 200px;
        flex-direction: column;
        gap: 0;
        margin-bottom: 20px;
    }

    .hero-contador {
        font-size: 0.8rem;
        text-align: center;
    }
}