.wrapper {
    width: 100%;
    background:var(--text-color);
    
    margin-inline: auto;
    position: relative;
    height: 20px;
    overflow: hidden;
  }
  
  @keyframes scrollLeft {
    to {
      left: -200px;
    }
  }
  
  .item {
    width: 250px;
    height: 100%;
    position: absolute;
    left: max(calc(250px * 8), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .item p {
    color: var(--bg-color);
    height: 100%;
    font-size: 11px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
  }
  
  .item2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
  }
  
  .item3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
  }
  
  .item4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
  }
  
  .item5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
  }
  
  .item6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
  }
  
  .item7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
  }
  
  .item8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
  }

  @media screen and (max-width: 768px) {
    .wrapper {
      max-width: 1536px;
    }
    
  }