.admin-container {
    display: flex;
    width: 100%;
    flex-direction: row;

}
/*SIDEBARD-------------------------------------------------------------------------------------------------------------*/
.admin-menu{
    width: 20%;
    min-height: 100vh;
    height: auto;
    background-color: var(--text-color);
    padding-block: 20px;
}

.admin-menu ul{
    display: flex;
    flex-direction: column;
    color: var(--bg-color);
    list-style: none;
    width: 100%;
}

.admin-menu nav div {
    width: 100%;
    border-bottom: 1px solid var(--bg-color);
    
}

.admin-menu nav div a {
    color: var(--bg-color);
    width: 100%;
    padding-bottom: 20px;

}

.admin-menu nav ul li {
    padding: 0 50px;
    display: flex;
    gap: 10px;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: background .3s ease;
    width: 100%;
    height: 100%;
}

.admin-menu nav ul li:hover{
    background: var(--primary-color);
}

.active-nav{
    background: var(--primary-color);
}

.admin-menu nav ul li a {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    color: var(--bg-color);
    width: 100%;
    height: 50px;
}

.admin-menu nav ul li span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 100%;
    height: 20px;
    width: 20px;
    text-align: center;
    font-weight: 700;
}
/*Inicio ADMIN---------------------------------------------------------------------------------------------------------------*/

.admin-inicio{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.admin-card-container{
    display: flex;
    padding-inline: 20px;
    width: 100%;
    height: auto;
    gap: 20px;
}

.no-radius {
    border-radius: 0;
    background: var(--bg-color);
}

/*Pedidos ADMIN------------------------------------------------------------------------------------------------------------*/

.admin-pedidos {
    width: 80%;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.admin-pedidos h1 {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 700;
}

.pedidos-section {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.pedidos-section h2{
    color: var(--text-color);
    font-size: 15px;
    font-weight: 700;
    border-top: 1px solid #1a1f251f;
    padding-top: 10px;
}

.pedidos-section div {
    margin-top: 0;
}

/*Productos ADMIN------------------------------------------------------------------------------------------------------------*/

.admin-productos{
    width: 80%;
    height: 100vh;
    overflow-y: auto;    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detalle-container-admin {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.img-container-admin {
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    aspect-ratio: 3/4;
}

.img-file {
    aspect-ratio: 3/4;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    background: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.informacion-container-admin {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 40%;
    height: max-content;
    position: sticky;
    top: 25px;
}

.informacion-dp {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    gap: 10px;
}

.productos-input{
    background: none;
    border: none;
    border-bottom: 1px solid var(--text-color);
    outline: none;
    padding: 5px;
}

.informacion-dp textarea {
    border: 1px solid var(--text-color);
    outline: none;
    background: none;
    padding: 10px;
    height: 100px;
    resize: none;
}

.division {
    width: 100%;
    height: 1px;
    background: var(--text-color);
    opacity: 20%;
}
.talles-admin {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.talles-container-admin{
    display: flex;
    gap: 20px;
}

/* Asegúrate de añadir un estilo similar al botón Boton */
