.admin-container {
    display: flex;
    width: 100%;
    flex-direction: row;

}
/*SIDEBARD-------------------------------------------------------------------------------------------------------------*/
.admin-menu{
    width: 240px;
    min-height: 100vh;
    height: auto;
    background-color: var(--text-color);
    padding-block: 20px;
}

.sidebar-logo {
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

.admin-menu ul{
    display: flex;
    flex-direction: column;
    color: var(--bg-color);
    list-style: none;
    width: 100%;
}

.admin-menu nav div {
    width: 100%;
    border-bottom: 1px solid var(--bg-color);
    
}

.admin-menu nav div a {
    color: var(--bg-color);
    width: 100%;
    padding-bottom: 20px;
}

.admin-menu nav ul li {
    padding: 0 20px;
    display: flex;
    gap: 10px;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: background .3s ease;
    width: 100%;
    height: 100%;
}

.admin-menu nav ul li:hover{
    background: var(--primary-color);
}

.active-nav{
    background: var(--primary-color);
}

.admin-menu nav ul li a {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    color: var(--bg-color);
    width: 100%;
    height: 50px;
}

/*Inicio ADMIN---------------------------------------------------------------------------------------------------------------*/

.admin-inicio{
    width: calc(100% - 240px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.admin-card-container{
    display: flex;
    padding-inline: 20px;
    width: 100%;
    height: auto;
    gap: 20px;
}

.no-radius {
    border-radius: 0;
    background: var(--bg-color);
}

/*Pedidos ADMIN------------------------------------------------------------------------------------------------------------*/

.admin-pedidos {
    width: calc(100% - 240px);
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.admin-pedidos h1 {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 700;
}

.pedidos-section {
    display: flex;
    flex-direction: column;
    gap: 10px
}



.pedidos-section div {
    margin-top: 0;
}

/*Productos ADMIN------------------------------------------------------------------------------------------------------------*/

.admin-productos{
    width: calc(100% - 240px);
    height: 100vh;
    overflow-y: auto;    
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
}

.admin-productos h1 {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 700;
}

.admin-productos section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;;
}

.admin-productos-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.admin-productos-header h2{
    font-size: 15px;
    font-weight: 700;
    color: var(--text-color);
}

.admin-productos-header button{
    background: #EFF6FF;
    color: #1D4ED8;
    box-shadow:
    var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color),
    var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color),
    var(--tw-shadow, 0 0 #0000);
    font-size: 15px;
    padding: 5px 10px;
    width: 200px;
    transition: all .3s ease;
}


.admin-productos-action {
    display: flex;
    gap: 0%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.admin-productos-action div {
    width: 200px;
}

.pedido-estado-envio {
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: flex-start;
    top: 25px;
    right: 0px;
    padding: 5px;
    border: 1px solid  #00000013;
    border-radius: 5px;
    position: absolute;
    z-index: 100;
}

.pedido-estado-envio button {
    text-align: start;
    width: 100%;
    padding: 5px;
    display: inline-block;
    transition: background .3s ease;
}

.pedido-estado-envio button:hover {
    background: #00000013;
}

.skeleton-table {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
}

.skeleton-item {
    width: 100%;
    height: 20px;
    border-radius: 5px;
}

.skeleton-table:hover {
    background: none;
}

.skeleton-table * {
    background: linear-gradient(120deg, #e7e7e7 30%, #f5f5f5 38%, #f5f5f5 40%, #e7e7e7 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 2s infinite;
}

@keyframes load {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}
/*Newsletter ----------------------------------------------------------------------------------------------*/

.admin-newsletter{
    width: calc(100% - 240px);
    padding: 20px;
}