.header-container {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1000;
}

/*------------------------------------------------------------------------------------------*/

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;

    background: var(--color-primario);
    transition: background 0.5s ease;
    
    animation: adjust-header linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
}

@keyframes adjust-header {
    to {
        background: transparent;
        backdrop-filter: blur(20px);
    }
}

/*------------------------------------------------------------------------------------------*/

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
  
.nav-bar li {
    list-style: none;
    position: relative;
}
  
.nav-bar li i {
    color: var(--color-texto);
    font-style: normal;
} 

.nav-bar li a {
    color: var(--color-texto);
    text-decoration: none;
    font-size: 15px;
    transition: 0.2s ease-in-out;

}
.nav-bar li a:hover{
    font-weight: bold;
    text-decoration: underline;
}

.links {
    justify-content: flex-start;
}
.cuenta {
    justify-content: flex-end;
}

/*------------------------------------------------------------------------------------------*/

.boton-carrito {
    border: none;
    outline: none;
    border-radius: none;
    cursor: pointer;
    background: transparent;
    font-size: 15px;
}

.boton-carrito i{
    transition: 0.2s ease-in-out;
}

.boton-carrito i:hover {
    font-weight: bold;
}

/*------------------------------------------------------------------------------------------*/

.mobile {
    display: none;
}
  
.boton-carrito-mobile i {
    font-style: normal;
}

.mobile-cuenta {
    display: none;
}

.boton-carrito-mobile{
    display: none;
}

/*------------------------------------------------------------------------------------------*/
.nav-cuenta{
    width: 500px;
}

.nav-logo {
    width: 500px;
    display: flex;
    justify-content: center;
}

.nav-link {
    width: 500px;
}

/*------------------------------------------------------------------------------------------*/

.header-cart-container {
    transform: translate(100vw);
    transition: transform 0.3s ease-in-out;
    position: fixed;
    visibility: hidden;
    width: 350px;
    top:0
  }
  
  .header-cart-container.show {
    transform: translate(0);
    left: auto;
    right: 0;
    visibility: visible;
  }

/*------------------------------------------------------------------------------------------*/

@media screen and (max-width: 769px) {
    .header-container {
        display: flex;
    }
    .nav-container {
        padding-inline: 20px;
        display: flex;
        width: 100%;
    }
    .mobile-cuenta {
        display: block;
        font-size: 15px;
    }

    .mobile-cuenta-primero {
        margin-top: 40px;
    }

    .nav-bar {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: fixed;
      gap: 0;
      top: 60px;
      left: -250px;
      width: 250px;
      height: 100vh;
      background: var(--color-primario);
      padding: 40px 50px;
      transition: 0.3s ease-in-out;
    }
    
    .nav-bar.active {
        left: 0;
    }

    .nav-logo {
        justify-content: center;
        width: 100%;
    }
  
    .nav-bar li {
      margin-bottom: 15px;
    }

    .mobile {
      display: block;
    }
  
    .mobile i {
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        top: 15px;
        left: 18px;
    }

    .boton-carrito-mobile{
        display: block;
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 18px;
        background: none;
        border: none;
        color: var(--color-texto)
    }

}

/*------------------------------------------------------------------------------------------*/

