* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    top:0;
    width: 100%;
    z-index: 1000;
}

/*------------------------------------------------------------------------------------------*/

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;

    background: transparent;
    
    animation: adjust-header linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
}

@keyframes adjust-header {
    to {
        background: rgba(0, 0, 0, 0.253);
        backdrop-filter: blur(20px);
    }
}

/*------------------------------------------------------------------------------------------*/

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
  
.nav-bar li {
    list-style: none;
    position: relative;
}
  
.nav-bar li a {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    transition: 0.3s ease-in-out;
}
.nav-bar li a:hover{
    color: var(--color-secundario);
    text-decoration: underline;
}

.links {
    justify-content: flex-start;
}
.cuenta {
    justify-content: flex-end;
}



/*------------------------------------------------------------------------------------------*/

.mobile {
    display: none;
}
  
.mobile i {
    color: #fff;
    align-items: center;
}

.mobile-cuenta {
    display: none;
}

/*------------------------------------------------------------------------------------------*/
.nav-cuenta{
    width: 500px;
}

.nav-logo {
    width: 500px;
    display: flex;
    justify-content: center;
}

.nav-link {
    width: 500px;
}
/*------------------------------------------------------------------------------------------*/

@media screen and (max-width: 769px) {
    header {
        display: flex;
    }
    .nav-container {
        padding-inline: 20px;
        display:block;
        width: 100%;
    }
    .mobile-cuenta {
        display: block;
        font-size: 15px;
    }

    .mobile-cuenta-primero {
        margin-top: 40px;
    }

    .nav-bar {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: fixed;
      gap: 0;
      top: 60px;
      left: -250px;
      width: 250px;
      height: 100vh;
      background: var(--color-primario);
      padding: 40px 50px;
      transition: 0.3s ease-in-out;
    }
    
    .nav-bar.active {
        left: 0;
    }

    .nav-logo {
        justify-content: flex-end;
        width: 100%;
    }
  
    .nav-bar li {
      margin-bottom: 15px;
    }

    .mobile {
      display: block;
    }
  
    .mobile i {
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        top: 15px;
        left: 18px;
    }
}

/*------------------------------------------------------------------------------------------*/