.header-container {
    position: sticky;
    top:0;
    width: 100%;
    z-index: 1000;
}

/*------------------------------------------------------------------------------------------*/
.nav {
    display: flex;
    flex-direction: column;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    border-bottom: 1px solid var(--text-color);
    z-index: 1000;
    background: var(--bg-color);
    
}

/*------------------------------------------------------------------------------------------*/

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
  
.nav-bar li {
    list-style: none;
    position: relative;
}
  
.nav-bar li i {
    color: var(--text-color);
    font-style: normal;
} 

.nav-bar li a {
    color: var(--text-color);
    text-decoration: none;    
    font-size: 11px;
    font-weight:bold;
    text-transform: uppercase;
    transition: all .3s ease;
}

.nav-bar li a:hover{
    text-decoration: underline;
}

.links {
    justify-content: flex-start;
}
.cuenta {
    justify-content: flex-end;
}

.menu-icon i{
  font-size: 13px;
}

.menu-icon-persona a{
  padding-top: 4px;
  display: flex;
}

.menu-icon-persona i{
  font-size: 17px;
}

/*------------------------------------------------------------------------------------------*/

.boton-carrito {
    border: none;
    outline: none;
    border-radius: none;
    cursor: pointer;
    background: transparent;
    font-size: 13px;
    font-weight: 700;
}

.boton-carrito i{
    transition: 0.2s ease-in-out;
}

.boton-carrito i:hover {
    text-decoration: underline;
}


/*------------------------------------------------------------------------------------------*/

.mobile {
    display: none;
}
  
.boton-carrito-mobile i {
    font-style: normal;
}

.mobile-cuenta {
    display: none;
}

.boton-carrito-mobile, .search-mobile{
    display: none;
}

/*------------------------------------------------------------------------------------------*/
.nav-cuenta{
    width: 500px;
}

.nav-logo {
    width: 500px;
    display: flex;
    justify-content: center;
}

.nav-link {
    width: 500px;
}

/*------------------------------------------------------------------------------------------*/

.header-cart-container {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out, visibility 0s 0.3s;
    position: fixed;
    visibility: hidden;
    width: 350px;
    top: 0;
    right: 0;
    z-index: 1000; /* Ajusta el z-index si es necesario */
  }
  
  .header-cart-container.show {
    transform: translateX(0);
    visibility: visible;
    transition: transform 0.3s ease-in-out, visibility 0s 0s;
  }

/*------------------------------------------------------------------------------------------*/
.dropdown {
    position: relative;
  }
  
  .dropdown-toggle {
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: fixed;
    width: 100%;
    height: 500px;
    left: 0;
    top: 51px;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--text-color);
    z-index: 1;
    list-style: none;
    padding: 10px 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    z-index: 1000;
  }

  
  .dropdown-menu li a {
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
  }
  
  .dropdown-menu li a:hover {
    text-decoration: underline;
  }
  
/*------------------------------------------------------------------------------------------*/

.coleccion-img-container{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.coleccion-img-container a picture {
    display: block;
    height: 90%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.coleccion-img-container a picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.coleccion-img-container a p {
   padding-top: 20px;
}

.coleccion-img-container a{
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.coleccion-bloqueada {
    cursor: no-drop;
}
  .coleccion-bloqueada img {
    display: block;
    width: 100%;
    height: auto;
    filter: blur(3px);
  }
  
  .coleccion-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: #e7e7e741;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  .coleccion-overlay span {
    font-size: 15px;
    color: var(--text-color);
    font-weight: 800;
  }

/*------------------------------------------------------------------------------------------*/

.header-search-container{
  padding: 10px 50px;
  background: var(--bg-color);
  z-index: 1;
  position: absolute;
  top: 50px;
  width: 100%;
  border-bottom: 1px solid var(--text-color);
}

.header-search-container input {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 5px 25px;
  border: none;
  background: none;
  outline: none;
  font-size: 12px;
}

.header-search-container input:focus {
  box-shadow: none;
  border: none;
}

.header-search-container i {
  position: absolute;
  left: 50px;
  top: 12px;
}

/*------------------------------------------------------------------------------------------*/

.search-result-container{
  padding: 5px 25px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.search-result-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 12px;
  text-transform: uppercase;
}

.search-message {
  font-size: 12px;
  color: var(--text-color);
  padding: 5px 25px;
  text-transform: uppercase;
}

.search-result-container ul li a{ 
  color: var(--text-color);
}

.search-result-container ul li a:hover{ 
  text-decoration: underline;
}



/*------------------------------------------------------------------------------------------*/

@media screen and (max-width: 769px) {
    .header-container {
        display: flex;
        flex-direction: column;
    }
    .nav-container {
        padding-inline: 10px;
        display: flex;
        width: 100%;
    }
    .mobile-cuenta {
        display: block;
        font-size: 15px;
    }

    .mobile-cuenta-primero {
        margin-top: 20px;
    }

    .nav-bar {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: fixed;
      gap: 0;
      top: 50px;
      left: -250px;
      width: 250px;
      height: 100vh;
      background: var(--bg-color);
      padding: 40px 15px;
      transition: 0.3s ease-in-out;
    }
    
    .nav-bar.active {
        left: 0;
    }

    .nav-logo {
        justify-content: center;
        width: 100%;
    }
  
    .nav-bar li {
      margin-bottom: 15px;
    }
    .nav-bar li a {
        font-size: 14px;
    }

    .mobile {
      display: block;
    }
  
    .mobile i {
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        top: 15px;
        left: 10px;
    }

    .boton-carrito-mobile{
        display: block;
        font-size: 20px;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 10px;
        background: none;
        border: none;
        color: var(--text-color)
    }

    .search-mobile{
      display: block;
        font-size: 20px;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 65px;
        background: none;
        border: none;
        color: var(--text-color)
    }

    .dropdown {
        display: none;
    }

    .header-search-container {
      padding-inline: 10px;
    }

    .header-search-container i {
      left: 10px;
      
    }
}

/*------------------------------------------------------------------------------------------*/

