.order-card {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 20px;
    position: relative;
  }
.order-card:hover{
  background: #b4b4b427;
}
  
  .order-card-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .order-card-body p {
    margin: 8px 0;
  }
  
  .status {
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 4px;
    color: var(--bg-color);
    text-transform: uppercase;
  }
  
  .status.pendiente {
    background-color: #ffcc00;

  }
  
  .status.enviado {
    background-color: #4caf50;
  }
  
  .status.cancelado {
    background-color: #f44336;

  }

  .ordercard-desactivado{
    display: none;
  }
  

  .order-card-etiqueta {
    position: absolute;
    color: var(--bg-color);
    padding: 5px 10px;
    border-radius: 5px;
    right: 20px;
    font-size: 12px;
    font-weight: 700;
  }

  .order-enviar {
    background-color: var(--primary-color);
  }
  .order-retirar {
    background-color: var(--secondary-color);
  }