.cuenta-container{
    display: flex;
    flex-direction: row;
}

.cuenta-container aside {
    width: 50vw;
    height: 100vh;
    overflow: hidden;
}

.cuenta-container main {
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-cuenta {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*--------------------------------------------------------------------------------------------------*/
.aside-img-container {
    height: 100%;
}

.aside-img-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/*--------------------------------------------------------------------------------------------------*/

.cuenta-texto-container {
    font-size:medium;
    font-weight: bolder;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
    gap: 10px;
}

.cuenta-texto-container h1 {
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.cuenta-texto-container p {
    font-size: x-small;
    color: var(--text-color);
    opacity: 60%;
}

.cuenta-datos-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-inline: 50px;
}

/*--------------------------------------------------------------------------------------------------*/

.crear-cuenta-cambio {
    margin-bottom: 50px;
    color: var(--text-color);
    font-size: 15px;
}

.crear-cuenta-cambio a {
    color: var(--seconday-color);
    text-decoration: none;
    font-weight: 600;
    transition: all .4s ease;
}

.crear-cuenta-cambio a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

/*--------------------------------------------------------------------------------------------------*/

.cartel-error {
    display: flex;  
    height: 40px;
    width: 100%;
    background: #97382f;
    align-items: center;
    justify-content: center;
    margin-block: 0 20px;
    color: var(--bg-color);
}
.error {
    color:#932b21;
    font-size: small;
    font-weight: 700;
    margin-block: 0 15px;
}

/*--------------------------------------------------------------------------------------------------*/

.condiciones-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.condiciones-container div {
    font-size: 12px;
    color: var(--text-color);
}

.condiciones-container div label {
    margin-left: 5px;
}

.condiciones-container div label a{
    text-decoration: underline;
}


.condiciones-container div input[type="checkbox"]{
    color: var(--primary-color);
    box-shadow: none;
}

.condiciones-container div label a:hover{
    color: var(--primary-color);
}

/*--------------------------------------------------------------------------------------------------*/

.captcha {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 12px;
}

/*--------------------------------------------------------------------------------------------------*/

@media (max-width: 768px) {
    .cuenta-texto-container, .cuenta-datos-container{
        padding-inline: 20px;
    }

    .crear-cuenta {
        align-items: center;
        justify-content: flex-start;
    }

    .cuenta-container aside { 
        display: none;
    }

    .cuenta-container main {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
