.iniciar-sesion {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.datos-container {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.datos-container input {
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: solid 1px var(--color-secundario);
    border-radius: none;
}
.datos-container input:focus {
    outline: none;
    border-bottom: solid 1px #932b21;
}


.datos-container label {
    margin-top: 20px;
}

.iniciar-sesion-cambio {
    margin-bottom: 50px;
}

.iniciar-sesion-cambio a:hover {
    color:var(--color-secundario);
    text-decoration: underline;
}

@media (max-width: 768px) {
    .texto-container{
        width: 80%;
    }
    .datos-container {
        width: 80%;
    }

    .iniciar-sesion {
        justify-content: flex-start;
    }
}
