.iniciar-sesion-cambio {
    margin-bottom: 50px;
    color: var(--text-color);
    font-size: 15px;
}

.iniciar-sesion-cambio a {
    color: var(--seconday-color);
    text-decoration: none;
    font-weight: 600;
    transition: all .4s ease;
}

.iniciar-sesion-cambio a:hover {
    color:var(--primary-color);
    text-decoration: underline;
}

.label-contraseña {
    width: 100%;
    text-align: end;
    font-size: small;
    color: var(--text-color);
    opacity: 60%;
    cursor: pointer;
    transition: all .3s ease;
}

.label-contraseña:hover{
    opacity: 100%;
    text-decoration: underline;
}

.input-recuperar:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid var(--primary-color);
}

.boton-salir-recuperar {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
}

.boton-recuperar {
    border: 1px solid var(--primary-color);
    transition: all .3s ease;
}

.boton-recuperar:hover {
    background-color: var(--bg-color);
    color: var(--text-color);
}
